---
type Props = {
  date: string;
};

const { date } = Astro.props;
---

<a
  href={`/date/${encodeURI(new Date(date).getFullYear().toString())}`}
  target="_self"
  class="text-xs text-tx3 hover:text-tx2"
>
  {date}
</a>
