---
import { FOOTER_CONTENT } from "../config";
---

<footer class="border-t border-border mt-[1em]">
  <div class="flex flex-row items-center justify-center max-w-prose h-24 mx-auto px-4">
    <p class="text-sm text-tx3">
      {FOOTER_CONTENT}
    </p>
  </div>
</footer>
