---
import { SITE_LOGO, SITE_TITLE } from "../config";
import Menus from "./menus.astro";
---

<header
  class="sticky z-50 top-0 bg-white/90 backdrop-blur-md border-b border-border transition-all select-none"
>
  <div class="flex flex-row gap-8 items-center justify-between max-w-prose mx-auto h-14 px-4">
    <a href="/" class="flex flex-row items-center justify-center gap-2">
      <span class="font-semibold text-base text-tx1">{SITE_TITLE}</span>
    </a>
    <Menus />
  </div>
</header>
