---
type Props = {
  slugs: string[];
  activeSlug?: string;
  generateLink: (slug: string) => string;
};

const { slugs, activeSlug, generateLink } = Astro.props;
---

<div
  class="flex flex-row flex-wrap items-center justify-center gap-2 max-w-prose mx-auto my-8 text-sm text-tx3 select-none"
>
  {
    slugs.map((slug, index) => (
      <>
        <a
          href={generateLink(slug)}
          target="_self"
          class={`capitalize ${activeSlug === slug ? "text-tx1" : ""} hover:text-tx1 cursor-pointer`}
        >
          {slug}
        </a>
        <span>{index === slugs.length - 1 ? "" : "·"}</span>
      </>
    ))
  }
</div>
