---
type Props = {
  tag: string;
};

const { tag } = Astro.props;
---

<a
  href={`/categories/${encodeURI(tag)}`}
  target="_self"
  class="text-xs text-tx3 hover:text-accent capitalize"
>
  {tag}
</a>
