---
const props = Astro.props;
---

<div {...props} class="flex flex-col gap-2 text-center items-center">
  <img
    class="rounded overflow-clip"
    src={props.src.src}
    alt={props.alt ?? ""}
    width={props.src.width}
  />
  <span class="text-tx3 font-normal text-sm">{props.alt}</span>
</div>
