---
import { type CollectionEntry } from "astro:content";
import PostListItem from "./post-list-item.astro";

type Props = {
  posts: CollectionEntry<"blog">[];
};

const { posts } = Astro.props;
---

<div
  class="flex flex-col gap-0 max-w-prose mx-auto px-4 py-8"
>
  {(posts ?? []).map((post) => <PostListItem post={post} />)}
</div>
